.main_head {
  font-weight: bold;
  text-align: center;
}

main {
  background-color: #8f8e92;
  color: white;
}

/* Smartphones (portrait and landscape) ----------- */
@media screen and (max-width: 450px) {
  /* Styles */ 
  .main_left_side {
    width: 100%;
    height: 50%;

}

.main_right_side {
  width: 100%;
  height: 50%;
  
}
} 
/* iPads (portrait and landscape) ----------- */
  @media screen and (min-width: 451px) and (max-width: 920px) {
    /* Styles */
     
    .main_left_side {
      width: 100%;
      height: 50%;
  
  }
  
  .main_right_side {
      height: 50%;
      width: 100%;
  
  }
    
  }  
  
  /* Desktops and laptops ----------- */
  @media screen and (min-width: 921px) {
    /* Styles */
    main {
      min-height: calc(100vh - 75px - 75px);
    }
  
    .main_left_side {
      float:  left;
      border-right: 2px black solid;
      width: 50%;
      height: 100%;
  
  }
  
  .main_right_side {
      height: 100%;
      float: right;
      width: 50%;
  
  }
  }

